
* {
  box-sizing: border-box;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
}

p {
  border: 7px solid red;
  background-color: black;
  width: 90%;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: white;
  text-align: right;
  padding: 10px;
}

.row {
  width: 100%;
}


@media (min-width: 992px) {
  .large-4 {
    float: left;
    border: 1px solid black;
    width: 33.33%;
  }
}


@media (min-width: 768px) and (max-width: 991px){
  .med-6, .med-12 {
    float: left;
    border: 1px solid black;
  }
  
  .med-6 {
    width: 50%;
  }
  
  .med-12 {
    width: 100%;
  }
}

@media (max-width: 767px){
  .small-12 {
    float: left;
    border: 1px solid black;
    width: 100%;
  }
}
